/* Login.css */
body {
  background-color: #fff; 
  color: #ffffff; 
  font-family: 'Roboto', sans-serif; 
}
.main{
  background-color: #181818;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 400px;
  background: linear-gradient(0deg, #2d2d2d 0%, #3e3e3e 100%);
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid #181818;
  box-shadow: #3ecf8e 0px 30px 30px -20px;
  margin: 20px auto;
  
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: #3ecf8e;
}

.form {
  margin-top: 20px;
}

.input {
  width: 99%;
  background: #181818;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #8cc9ae 0px 10px 10px -5px;
  border: 2px solid transparent;
  color: aliceblue;
}

.input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.input::placeholder {
  color: rgb(170, 170, 170);
}

.input:focus {
  outline: none;
  border: 2px solid #71c8a1;
}


.register-login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, #59ce99 0%, #3ecf8e 100%);
  color: #181818;
  padding: 15px;
  margin: 20px auto;
  border-radius: 20px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.register-login-button:hover {
  transform: scale(1.03);
}

.register-login-button:active {
  transform: scale(0.95);
}

@keyframes slideInAndOut {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.confirmation-popup {
  position: fixed;
  top: 10px;
  right: 0;
  background: #3ecf8e;
  color: #181818;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  animation: slideInAndOut 5s ease-in-out;
  z-index: 1000;
  font-family: 'Inter',sans-serif;
}

.confirmation-popup p {
  margin: 0;
  font-size: 16px;
}

.register-login-link {
  text-align: center;
  margin-top: 20px;
}

.register-login-link a {
  font-size: 14px;
  color: #3ecf8e;
  text-decoration: none;
  font-weight: 600;
  padding: 5px 10px;
  border: 2px solid #3ecf8e;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.register-login-link a:hover {
  background-color: #3ecf8e;
  color: #181818;
  box-shadow: 0px 5px 15px rgba(62, 207, 142, 0.6);
}

.register-login-link a:active {
  transform: scale(0.98);
}

