# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Poetry virtual environments
.venv/

# Logs and temp files
*.log
*.out
*.err
*.swp
*.swo
*.swn
tmp/
temp/

# Environment variables
.env
.env.*

# VSCode specific settings
.vscode/
.vscode/settings.json

# macOS specific
.DS_Store

# Git related files
.git/
.gitignore
.gitattributes

# Docker related files
docker-compose.yml
.dockerignore
Dockerfile

# Pytest cache and config
.pytest_cache/
.tox/
.cache/
pytestdebug.log
.coverage
htmlcov/
coverage.xml

# Build and distribution files
build/
dist/
*.egg-info/