/* Login.css */
body {
  background-color: #fff; 
  color: #ffffff; 
  font-family: 'Roboto', sans-serif; 
}
.main{
  background-color: #181818;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 400px;
  background: linear-gradient(0deg, #2d2d2d 0%, #3e3e3e 100%);
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid #181818;
  box-shadow: #3ecf8e 0px 30px 30px -20px;
  margin: 20px auto;
  
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: #3ecf8e;
}

.form {
  margin-top: 20px;
}

.input {
  width: 99%;
  background: #181818;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #8cc9ae 0px 10px 10px -5px;
  border: 2px solid transparent;
  color: aliceblue;
}

.input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.input::placeholder {
  color: rgb(170, 170, 170);
}

.input:focus {
  outline: none;
  border: 2px solid #71c8a1;
}

.register {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.register a {
  font-size: 11px;
  color: #3ecf8e;
  text-decoration: none;
}

.login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, #59ce99 0%, #3ecf8e 100%);
  color: #181818;
  padding: 15px;
  margin: 20px auto;
  border-radius: 20px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.login-button:hover {
  transform: scale(1.03);
}

.login-button:active {
  transform: scale(0.95);
}

.social-account-container {
  margin-top: 25px;
}

.title {
  display: block;
  text-align: center;
  font-size: 10px;
  color: rgb(170, 170, 170);
}

.social-accounts {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.social-button {
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
  border: 5px solid white;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
  transition: all 0.2s ease-in-out;
}

.social-button:hover {
  transform: scale(1.2);
}

